#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 88px;
    background-color: #E3E6f3;
    box-shadow: 0 5px rgb(0, 0, 0, 0.02);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0% 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #0c1148;
}

#navbar li a:hover,
#navbar li a.active2 {
    color: #ca4036;
    transition: 0.4s ease;
    text-decoration: underline;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30;
    height: 2;
    background-color: aqua;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

/* body {
    margin: 10px 0;

} */

#page-header {
    width: auto;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h1 {
    color: #ffffff;
    font-size: 70px;
}

#page-header h2 {
    color: #ffffff;
    font-style: italic;
    font-weight: 900;
}

#page-header.about-header {
    background-image: url("img/about/banner.png");

}

#about-head h2 {
    font-size: 40px;
    color: #1c2e4a;
}

.who-we-are-para {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #972d25;
    text-shadow: 1px 1px 2px #ccc;
    line-height: 35px;
    font-style: italic;
}


#about-head img {
    width: 50%;
    height: auto;
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head div {
    padding-left: 40px;
}


#about-app {
    text-align: center;
}


.section-p1 {
    padding: 20px 1px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, .03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {

    box-shadow: 10px 10px 54px rgba(70, 60, 220, .01);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: white;
    background-color: #152238;
    display: inline-block;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/about/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 16px;

}

#banner h2 {
    color: #fff;
    font-size: 35px;
    padding: 12px 0;

}

#banner h2 span {
    color: #ef3636;
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/about/b16.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

#sm-banner .banner-box2 {
    background-image: url("img/about/b10.jpg");
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}

#sm-banner span {
    color: #fff;
    font-size: 14;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background-color: #088178;
    border: 1px solid #088178;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/about/b7.jpg");
    width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: url("img/about/b4.jpg");
}

#banner3 .banner-box3 {
    background-image: url("img/about/b18.jpg");
}

#banner3 h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 800;
}

#banner3 h3 {
    color: #ec544e;
    font-size: 15px;
    font-weight: 800;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/about/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e41;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea8;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .from {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* end of home bage */
/* footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 15px;
}

footer .follow {
    margin-top: 20px;

}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 2px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

/* end of footer */

/* media */
@media (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        background-color: #E3E6f3;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
    }
}



/*shop page and Cart*/

#cart-icon {
    cursor: pointer;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}


.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    max-height: fit-content;
    padding: 20px;
    background: #ccc;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart.active {
    right: 0;
}




.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 1px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-quantity {
    border: 1px solid yellow;
    outline-color: rebeccapurple;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}


.cart-remove {
    font-size: 24px;
    color: #ca4036;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;

}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}


.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: red;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover {
    background: #0c1148;
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: #222;
    cursor: pointer;

}



#Pro {
    padding: .1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
    gap: 1rem;

}

.product {
    background: #f9f8fc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product:hover {
    padding: 1px;
    border: 1px solid #ccc;
    transition: 0.1s;
}

.product-img {
    width: 100%;
    height: 100%;
}

.product-content {
    padding: .01rem .1rem;
}

.product .product-title {
    font-size: 1rem;
}

.product-description {
    text-align: justify;
}

.product-title,
.product-price-container,
.product-description,
.product-category {
    padding: 0.1rem 0;
}

.product-price-container {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-to-cart {
    background-color: #041e41;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: white;
    border-radius: .1rem;
}

.add-to-cart ion-icon {
    font-size: 3rem;
}

.loader {
    display: inline-flex;
    width: 100%;
    height: 20rem;
    align-items: flex-end;
    justify-content: center;
}